@font-face {
  font-family: 'Brands2_icons';
  src:  url('fonts/Brands2_icons.eot?eprh5r');
  src:  url('fonts/Brands2_icons.eot?eprh5r#iefix') format('embedded-opentype'),
    url('fonts/Brands2_icons.ttf?eprh5r') format('truetype'),
    url('fonts/Brands2_icons.woff?eprh5r') format('woff'),
    url('fonts/Brands2_icons.svg?eprh5r#Brands2_icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Brands2_icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cib-about-me:before {
  content: "\e900";
}
.icon-cib-500px-5:before {
  content: "\e901";
}
.icon-cib-500px:before {
  content: "\e902";
}
.icon-cib-abstract:before {
  content: "\e903";
}
.icon-cib-acm:before {
  content: "\e904";
}
.icon-cib-addthis:before {
  content: "\e905";
}
.icon-cib-adguard:before {
  content: "\e906";
}
.icon-cib-adobe-acrobat-reader:before {
  content: "\e907";
}
.icon-cib-adobe-after-effects:before {
  content: "\e908";
}
.icon-cib-adobe-audition:before {
  content: "\e909";
}
.icon-cib-adobe-creative-cloud:before {
  content: "\e90a";
}
.icon-cib-adobe-dreamweaver:before {
  content: "\e90b";
}
.icon-cib-adobe-illustrator:before {
  content: "\e90c";
}
.icon-cib-adobe-indesign:before {
  content: "\e90d";
}
.icon-cib-adobe-lightroom-classic:before {
  content: "\e90e";
}
.icon-cib-adobe-lightroom:before {
  content: "\e90f";
}
.icon-cib-adobe-photoshop:before {
  content: "\e910";
}
.icon-cib-adobe-premiere:before {
  content: "\e911";
}
.icon-cib-adobe-typekit:before {
  content: "\e912";
}
.icon-cib-adobe-xd:before {
  content: "\e913";
}
.icon-cib-adobe:before {
  content: "\e914";
}
.icon-cib-airbnb:before {
  content: "\e915";
}
.icon-cib-algolia:before {
  content: "\e916";
}
.icon-cib-alipay:before {
  content: "\e917";
}
.icon-cib-allocine:before {
  content: "\e918";
}
.icon-cib-amazon-aws:before {
  content: "\e919";
}
.icon-cib-amazon-pay:before {
  content: "\e91a";
}
.icon-cib-amazon:before {
  content: "\e91b";
}
.icon-cib-amd:before {
  content: "\e91c";
}
.icon-cib-american-express:before {
  content: "\e91d";
}
.icon-cib-anaconda:before {
  content: "\e91e";
}
.icon-cib-analogue:before {
  content: "\e91f";
}
.icon-cib-android-alt:before {
  content: "\e920";
}
.icon-cib-android:before {
  content: "\e921";
}
.icon-cib-angellist:before {
  content: "\e922";
}
.icon-cib-angular-universal:before {
  content: "\e923";
}
.icon-cib-angular:before {
  content: "\e924";
}
.icon-cib-ansible:before {
  content: "\e925";
}
.icon-cib-apache-airflow:before {
  content: "\e926";
}
.icon-cib-apache-flink:before {
  content: "\e927";
}
.icon-cib-apache-spark:before {
  content: "\e928";
}
.icon-cib-apache:before {
  content: "\e929";
}
.icon-cib-app-store-ios:before {
  content: "\e92a";
}
.icon-cib-app-store:before {
  content: "\e92b";
}
.icon-cib-apple-music:before {
  content: "\e92c";
}
.icon-cib-apple-pay:before {
  content: "\e92d";
}
.icon-cib-apple-podcasts:before {
  content: "\e92e";
}
.icon-cib-apple:before {
  content: "\e92f";
}
.icon-cib-appveyor:before {
  content: "\e930";
}
.icon-cib-aral:before {
  content: "\e931";
}
.icon-cib-arch-linux:before {
  content: "\e932";
}
.icon-cib-archive-of-our-own:before {
  content: "\e933";
}
.icon-cib-arduino:before {
  content: "\e934";
}
.icon-cib-artstation:before {
  content: "\e935";
}
.icon-cib-arxiv:before {
  content: "\e936";
}
.icon-cib-asana:before {
  content: "\e937";
}
.icon-cib-at-and-t:before {
  content: "\e938";
}
.icon-cib-atlassian:before {
  content: "\e939";
}
.icon-cib-atom:before {
  content: "\e93a";
}
.icon-cib-audible:before {
  content: "\e93b";
}
.icon-cib-aurelia:before {
  content: "\e93c";
}
.icon-cib-auth0:before {
  content: "\e93d";
}
.icon-cib-automatic:before {
  content: "\e93e";
}
.icon-cib-autotask:before {
  content: "\e93f";
}
.icon-cib-aventrix:before {
  content: "\e940";
}
.icon-cib-azure-artifacts:before {
  content: "\e941";
}
.icon-cib-azure-devops:before {
  content: "\e942";
}
.icon-cib-azure-pipelines:before {
  content: "\e943";
}
.icon-cib-babel:before {
  content: "\e944";
}
.icon-cib-baidu:before {
  content: "\e945";
}
.icon-cib-bamboo:before {
  content: "\e946";
}
.icon-cib-bancontact:before {
  content: "\e947";
}
.icon-cib-bandcamp:before {
  content: "\e948";
}
.icon-cib-basecamp:before {
  content: "\e949";
}
.icon-cib-bathasu:before {
  content: "\e94a";
}
.icon-cib-behance:before {
  content: "\e94b";
}
.icon-cib-big-cartel:before {
  content: "\e94c";
}
.icon-cib-bing:before {
  content: "\e94d";
}
.icon-cib-bit:before {
  content: "\e94e";
}
.icon-cib-bitbucket:before {
  content: "\e94f";
}
.icon-cib-bitcoin:before {
  content: "\e950";
}
.icon-cib-bitdefender:before {
  content: "\e951";
}
.icon-cib-bitly:before {
  content: "\e952";
}
.icon-cib-blackberry:before {
  content: "\e953";
}
.icon-cib-blender:before {
  content: "\e954";
}
.icon-cib-blogger-b:before {
  content: "\e955";
}
.icon-cib-blogger:before {
  content: "\e956";
}
.icon-cib-bluetooth-b:before {
  content: "\e957";
}
.icon-cib-bluetooth:before {
  content: "\e958";
}
.icon-cib-boeing:before {
  content: "\e959";
}
.icon-cib-boost:before {
  content: "\e95a";
}
.icon-cib-bootstrap:before {
  content: "\e95b";
}
.icon-cib-bower:before {
  content: "\e95c";
}
.icon-cib-brand-ai:before {
  content: "\e95d";
}
.icon-cib-brave:before {
  content: "\e95e";
}
.icon-cib-btc:before {
  content: "\e95f";
}
.icon-cib-buddy:before {
  content: "\e960";
}
.icon-cib-buffer:before {
  content: "\e961";
}
.icon-cib-buy-me-a-coffee:before {
  content: "\e962";
}
.icon-cib-buysellads:before {
  content: "\e963";
}
.icon-cib-buzzfeed:before {
  content: "\e964";
}
.icon-cib-c:before {
  content: "\e965";
}
.icon-cib-cakephp:before {
  content: "\e966";
}
.icon-cib-campaign-monitor:before {
  content: "\e967";
}
.icon-cib-canva:before {
  content: "\e968";
}
.icon-cib-cashapp:before {
  content: "\e969";
}
.icon-cib-cassandra:before {
  content: "\e96a";
}
.icon-cib-castro:before {
  content: "\e96b";
}
.icon-cib-cc-amazon-pay:before {
  content: "\e96c";
}
.icon-cib-cc-amex:before {
  content: "\e96d";
}
.icon-cib-cc-apple-pay:before {
  content: "\e96e";
}
.icon-cib-cc-diners-club:before {
  content: "\e96f";
}
.icon-cib-cc-discover:before {
  content: "\e970";
}
.icon-cib-cc-jcb:before {
  content: "\e971";
}
.icon-cib-cc-mastercard:before {
  content: "\e972";
}
.icon-cib-cc-paypal:before {
  content: "\e973";
}
.icon-cib-cc-stripe:before {
  content: "\e974";
}
.icon-cib-cc-visa:before {
  content: "\e975";
}
.icon-cib-centos:before {
  content: "\e976";
}
.icon-cib-cevo:before {
  content: "\e977";
}
.icon-cib-chase:before {
  content: "\e978";
}
.icon-cib-chef:before {
  content: "\e979";
}
.icon-cib-chromecast:before {
  content: "\e97a";
}
.icon-cib-circle:before {
  content: "\e97b";
}
.icon-cib-circleci:before {
  content: "\e97c";
}
.icon-cib-cirrusci:before {
  content: "\e97d";
}
.icon-cib-cisco:before {
  content: "\e97e";
}
.icon-cib-civicrm:before {
  content: "\e97f";
}
.icon-cib-clockify:before {
  content: "\e980";
}
.icon-cib-clojure:before {
  content: "\e981";
}
.icon-cib-cloudbees:before {
  content: "\e982";
}
.icon-cib-cloudflare:before {
  content: "\e983";
}
.icon-cib-cmake:before {
  content: "\e984";
}
.icon-cib-co-op:before {
  content: "\e985";
}
.icon-cib-codacy:before {
  content: "\e986";
}
.icon-cib-code-climate:before {
  content: "\e987";
}
.icon-cib-codecademy:before {
  content: "\e988";
}
.icon-cib-codecov:before {
  content: "\e989";
}
.icon-cib-codeigniter:before {
  content: "\e98a";
}
.icon-cib-codepen:before {
  content: "\e98b";
}
.icon-cib-coderwall:before {
  content: "\e98c";
}
.icon-cib-codesandbox:before {
  content: "\e98d";
}
.icon-cib-codeship:before {
  content: "\e98e";
}
.icon-cib-codewars:before {
  content: "\e98f";
}
.icon-cib-codio:before {
  content: "\e990";
}
.icon-cib-coffeescript:before {
  content: "\e991";
}
.icon-cib-common-workflow-language:before {
  content: "\e992";
}
.icon-cib-composer:before {
  content: "\e993";
}
.icon-cib-conda-forge:before {
  content: "\e994";
}
.icon-cib-conekta:before {
  content: "\e995";
}
.icon-cib-confluence:before {
  content: "\e996";
}
.icon-cib-coreui-c:before {
  content: "\e997";
}
.icon-cib-coreui:before {
  content: "\e998";
}
.icon-cib-coursera:before {
  content: "\e999";
}
.icon-cib-coveralls:before {
  content: "\e99a";
}
.icon-cib-cpanel:before {
  content: "\e99b";
}
.icon-cib-cplusplus:before {
  content: "\e99c";
}
.icon-cib-creative-commons-by:before {
  content: "\e99d";
}
.icon-cib-creative-commons-nc-eu:before {
  content: "\e99e";
}
.icon-cib-creative-commons-nc-jp:before {
  content: "\e99f";
}
.icon-cib-creative-commons-nc:before {
  content: "\e9a0";
}
.icon-cib-creative-commons-nd:before {
  content: "\e9a1";
}
.icon-cib-creative-commons-pd-alt:before {
  content: "\e9a2";
}
.icon-cib-creative-commons-pd:before {
  content: "\e9a3";
}
.icon-cib-creative-commons-remix:before {
  content: "\e9a4";
}
.icon-cib-creative-commons-sa:before {
  content: "\e9a5";
}
.icon-cib-creative-commons-sampling-plus:before {
  content: "\e9a6";
}
.icon-cib-creative-commons-sampling:before {
  content: "\e9a7";
}
.icon-cib-creative-commons-share:before {
  content: "\e9a8";
}
.icon-cib-creative-commons-zero:before {
  content: "\e9a9";
}
.icon-cib-creative-commons:before {
  content: "\e9aa";
}
.icon-cib-crunchbase:before {
  content: "\e9ab";
}
.icon-cib-crunchyroll:before {
  content: "\e9ac";
}
.icon-cib-css3-shiled:before {
  content: "\e9ad";
}
.icon-cib-css3:before {
  content: "\e9ae";
}
.icon-cib-csswizardry:before {
  content: "\e9af";
}
.icon-cib-d3-js:before {
  content: "\e9b0";
}
.icon-cib-dailymotion:before {
  content: "\e9b1";
}
.icon-cib-dashlane:before {
  content: "\e9b2";
}
.icon-cib-dazn:before {
  content: "\e9b3";
}
.icon-cib-dblp:before {
  content: "\e9b4";
}
.icon-cib-debian:before {
  content: "\e9b5";
}
.icon-cib-deepin:before {
  content: "\e9b6";
}
.icon-cib-deezer:before {
  content: "\e9b7";
}
.icon-cib-delicious:before {
  content: "\e9b8";
}
.icon-cib-dell:before {
  content: "\e9b9";
}
.icon-cib-deno:before {
  content: "\e9ba";
}
.icon-cib-dependabot:before {
  content: "\e9bb";
}
.icon-cib-designer-news:before {
  content: "\e9bc";
}
.icon-cib-dev-to:before {
  content: "\e9bd";
}
.icon-cib-deviantart:before {
  content: "\e9be";
}
.icon-cib-devrant:before {
  content: "\e9bf";
}
.icon-cib-diaspora:before {
  content: "\e9c0";
}
.icon-cib-digg:before {
  content: "\e9c1";
}
.icon-cib-digital-ocean:before {
  content: "\e9c2";
}
.icon-cib-discord:before {
  content: "\e9c3";
}
.icon-cib-discourse:before {
  content: "\e9c4";
}
.icon-cib-discover:before {
  content: "\e9c5";
}
.icon-cib-disqus:before {
  content: "\e9c6";
}
.icon-cib-disroot:before {
  content: "\e9c7";
}
.icon-cib-django:before {
  content: "\e9c8";
}
.icon-cib-docker:before {
  content: "\e9c9";
}
.icon-cib-docusign:before {
  content: "\e9ca";
}
.icon-cib-dot-net:before {
  content: "\e9cb";
}
.icon-cib-draugiem-lv:before {
  content: "\e9cc";
}
.icon-cib-dribbble:before {
  content: "\e9cd";
}
.icon-cib-drone:before {
  content: "\e9ce";
}
.icon-cib-dropbox:before {
  content: "\e9cf";
}
.icon-cib-drupal:before {
  content: "\e9d0";
}
.icon-cib-dtube:before {
  content: "\e9d1";
}
.icon-cib-duckduckgo:before {
  content: "\e9d2";
}
.icon-cib-dynatrace:before {
  content: "\e9d3";
}
.icon-cib-ebay:before {
  content: "\e9d4";
}
.icon-cib-eclipseide:before {
  content: "\e9d5";
}
.icon-cib-elastic-cloud:before {
  content: "\e9d6";
}
.icon-cib-elastic-search:before {
  content: "\e9d7";
}
.icon-cib-elastic-stack:before {
  content: "\e9d8";
}
.icon-cib-elastic:before {
  content: "\e9d9";
}
.icon-cib-electron:before {
  content: "\e9da";
}
.icon-cib-elementary:before {
  content: "\e9db";
}
.icon-cib-eleventy:before {
  content: "\e9dc";
}
.icon-cib-ello:before {
  content: "\e9dd";
}
.icon-cib-emlakjet:before {
  content: "\e9de";
}
.icon-cib-empirekred:before {
  content: "\e9df";
}
.icon-cib-envato:before {
  content: "\e9e0";
}
.icon-cib-epic-games:before {
  content: "\e9e1";
}
.icon-cib-epson:before {
  content: "\e9e2";
}
.icon-cib-esea:before {
  content: "\e9e3";
}
.icon-cib-eslint:before {
  content: "\e9e4";
}
.icon-cib-ethereum:before {
  content: "\e9e5";
}
.icon-cib-etsy:before {
  content: "\e9e6";
}
.icon-cib-event-store:before {
  content: "\e9e7";
}
.icon-cib-eventbrite:before {
  content: "\e9e8";
}
.icon-cib-evernote:before {
  content: "\e9e9";
}
.icon-cib-everplaces:before {
  content: "\e9ea";
}
.icon-cib-evry:before {
  content: "\e9eb";
}
.icon-cib-exercism:before {
  content: "\e9ec";
}
.icon-cib-experts-exchange:before {
  content: "\e9ed";
}
.icon-cib-expo:before {
  content: "\e9ee";
}
.icon-cib-eyeem:before {
  content: "\e9ef";
}
.icon-cib-f-secure:before {
  content: "\e9f0";
}
.icon-cib-facebook-f:before {
  content: "\e9f1";
}
.icon-cib-facebook:before {
  content: "\e9f2";
}
.icon-cib-faceit:before {
  content: "\e9f3";
}
.icon-cib-fandango:before {
  content: "\e9f4";
}
.icon-cib-favro:before {
  content: "\e9f5";
}
.icon-cib-feathub:before {
  content: "\e9f6";
}
.icon-cib-fedex:before {
  content: "\e9f7";
}
.icon-cib-fedora:before {
  content: "\e9f8";
}
.icon-cib-feedly:before {
  content: "\e9f9";
}
.icon-cib-fido-alliance:before {
  content: "\e9fa";
}
.icon-cib-figma:before {
  content: "\e9fb";
}
.icon-cib-filezilla:before {
  content: "\e9fc";
}
.icon-cib-firebase:before {
  content: "\e9fd";
}
.icon-cib-fitbit:before {
  content: "\e9fe";
}
.icon-cib-flask:before {
  content: "\e9ff";
}
.icon-cib-flattr:before {
  content: "\ea00";
}
.icon-cib-flickr:before {
  content: "\ea01";
}
.icon-cib-flipboard:before {
  content: "\ea02";
}
.icon-cib-flutter:before {
  content: "\ea03";
}
.icon-cib-fnac:before {
  content: "\ea04";
}
.icon-cib-foursquare:before {
  content: "\ea05";
}
.icon-cib-framer:before {
  content: "\ea06";
}
.icon-cib-freebsd:before {
  content: "\ea07";
}
.icon-cib-freecodecamp:before {
  content: "\ea08";
}
.icon-cib-fur-affinity:before {
  content: "\ea09";
}
.icon-cib-furry-network:before {
  content: "\ea0a";
}
.icon-cib-garmin:before {
  content: "\ea0b";
}
.icon-cib-gatsby:before {
  content: "\ea0c";
}
.icon-cib-gauges:before {
  content: "\ea0d";
}
.icon-cib-genius:before {
  content: "\ea0e";
}
.icon-cib-gentoo:before {
  content: "\ea0f";
}
.icon-cib-geocaching:before {
  content: "\ea10";
}
.icon-cib-gerrit:before {
  content: "\ea11";
}
.icon-cib-gg:before {
  content: "\ea12";
}
.icon-cib-ghost:before {
  content: "\ea13";
}
.icon-cib-gimp:before {
  content: "\ea14";
}
.icon-cib-git:before {
  content: "\ea15";
}
.icon-cib-gitea:before {
  content: "\ea16";
}
.icon-cib-github:before {
  content: "\ea17";
}
.icon-cib-gitkraken:before {
  content: "\ea18";
}
.icon-cib-gitlab:before {
  content: "\ea19";
}
.icon-cib-gitpod:before {
  content: "\ea1a";
}
.icon-cib-gitter:before {
  content: "\ea1b";
}
.icon-cib-glassdoor:before {
  content: "\ea1c";
}
.icon-cib-glitch:before {
  content: "\ea1d";
}
.icon-cib-gmail:before {
  content: "\ea1e";
}
.icon-cib-gnu-privacy-guard:before {
  content: "\ea1f";
}
.icon-cib-gnu-social:before {
  content: "\ea20";
}
.icon-cib-gnu:before {
  content: "\ea21";
}
.icon-cib-go:before {
  content: "\ea22";
}
.icon-cib-godot-engine:before {
  content: "\ea23";
}
.icon-cib-gog-com:before {
  content: "\ea24";
}
.icon-cib-goldenline:before {
  content: "\ea25";
}
.icon-cib-goodreads:before {
  content: "\ea26";
}
.icon-cib-google-ads:before {
  content: "\ea27";
}
.icon-cib-google-allo:before {
  content: "\ea28";
}
.icon-cib-google-analytics:before {
  content: "\ea29";
}
.icon-cib-google-chrome:before {
  content: "\ea2a";
}
.icon-cib-google-cloud:before {
  content: "\ea2b";
}
.icon-cib-google-keep:before {
  content: "\ea2c";
}
.icon-cib-google-pay:before {
  content: "\ea2d";
}
.icon-cib-google-play:before {
  content: "\ea2e";
}
.icon-cib-google-podcasts:before {
  content: "\ea2f";
}
.icon-cib-google:before {
  content: "\ea30";
}
.icon-cib-googles-cholar:before {
  content: "\ea31";
}
.icon-cib-gov-uk:before {
  content: "\ea32";
}
.icon-cib-gradle:before {
  content: "\ea33";
}
.icon-cib-grafana:before {
  content: "\ea34";
}
.icon-cib-graphcool:before {
  content: "\ea35";
}
.icon-cib-graphql:before {
  content: "\ea36";
}
.icon-cib-grav:before {
  content: "\ea37";
}
.icon-cib-gravatar:before {
  content: "\ea38";
}
.icon-cib-greenkeeper:before {
  content: "\ea39";
}
.icon-cib-greensock:before {
  content: "\ea3a";
}
.icon-cib-groovy:before {
  content: "\ea3b";
}
.icon-cib-groupon:before {
  content: "\ea3c";
}
.icon-cib-grunt:before {
  content: "\ea3d";
}
.icon-cib-gulp:before {
  content: "\ea3e";
}
.icon-cib-gumroad:before {
  content: "\ea3f";
}
.icon-cib-gumtree:before {
  content: "\ea40";
}
.icon-cib-habr:before {
  content: "\ea41";
}
.icon-cib-hackaday:before {
  content: "\ea42";
}
.icon-cib-hackerearth:before {
  content: "\ea43";
}
.icon-cib-hackerone:before {
  content: "\ea44";
}
.icon-cib-hackerrank:before {
  content: "\ea45";
}
.icon-cib-hackhands:before {
  content: "\ea46";
}
.icon-cib-hackster:before {
  content: "\ea47";
}
.icon-cib-happycow:before {
  content: "\ea48";
}
.icon-cib-hashnode:before {
  content: "\ea49";
}
.icon-cib-haskell:before {
  content: "\ea4a";
}
.icon-cib-hatena-bookmark:before {
  content: "\ea4b";
}
.icon-cib-haxe:before {
  content: "\ea4c";
}
.icon-cib-helm:before {
  content: "\ea4d";
}
.icon-cib-here:before {
  content: "\ea4e";
}
.icon-cib-heroku:before {
  content: "\ea4f";
}
.icon-cib-hexo:before {
  content: "\ea50";
}
.icon-cib-highly:before {
  content: "\ea51";
}
.icon-cib-hipchat:before {
  content: "\ea52";
}
.icon-cib-hitachi:before {
  content: "\ea53";
}
.icon-cib-hockeyapp:before {
  content: "\ea54";
}
.icon-cib-homify:before {
  content: "\ea55";
}
.icon-cib-hootsuite:before {
  content: "\ea56";
}
.icon-cib-hotjar:before {
  content: "\ea57";
}
.icon-cib-houzz:before {
  content: "\ea58";
}
.icon-cib-hp:before {
  content: "\ea59";
}
.icon-cib-html5-shield:before {
  content: "\ea5a";
}
.icon-cib-html5:before {
  content: "\ea5b";
}
.icon-cib-htmlacademy:before {
  content: "\ea5c";
}
.icon-cib-huawei:before {
  content: "\ea5d";
}
.icon-cib-hubspot:before {
  content: "\ea5e";
}
.icon-cib-hulu:before {
  content: "\ea5f";
}
.icon-cib-humble-bundle:before {
  content: "\ea60";
}
.icon-cib-iata:before {
  content: "\ea61";
}
.icon-cib-ibm:before {
  content: "\ea62";
}
.icon-cib-icloud:before {
  content: "\ea63";
}
.icon-cib-iconjar:before {
  content: "\ea64";
}
.icon-cib-icq:before {
  content: "\ea65";
}
.icon-cib-ideal:before {
  content: "\ea66";
}
.icon-cib-ifixit:before {
  content: "\ea67";
}
.icon-cib-imdb:before {
  content: "\ea68";
}
.icon-cib-indeed:before {
  content: "\ea69";
}
.icon-cib-inkscape:before {
  content: "\ea6a";
}
.icon-cib-instacart:before {
  content: "\ea6b";
}
.icon-cib-instagram:before {
  content: "\ea6c";
}
.icon-cib-instapaper:before {
  content: "\ea6d";
}
.icon-cib-intel:before {
  content: "\ea6e";
}
.icon-cib-intellijidea:before {
  content: "\ea6f";
}
.icon-cib-intercom:before {
  content: "\ea70";
}
.icon-cib-internet-explorer:before {
  content: "\ea71";
}
.icon-cib-invision:before {
  content: "\ea72";
}
.icon-cib-ionic:before {
  content: "\ea73";
}
.icon-cib-issuu:before {
  content: "\ea74";
}
.icon-cib-itch-io:before {
  content: "\ea75";
}
.icon-cib-jabber:before {
  content: "\ea76";
}
.icon-cib-java:before {
  content: "\ea77";
}
.icon-cib-javascript:before {
  content: "\ea78";
}
.icon-cib-jekyll:before {
  content: "\ea79";
}
.icon-cib-jenkins:before {
  content: "\ea7a";
}
.icon-cib-jest:before {
  content: "\ea7b";
}
.icon-cib-jet:before {
  content: "\ea7c";
}
.icon-cib-jetbrains:before {
  content: "\ea7d";
}
.icon-cib-jira:before {
  content: "\ea7e";
}
.icon-cib-joomla:before {
  content: "\ea7f";
}
.icon-cib-jquery:before {
  content: "\ea80";
}
.icon-cib-js:before {
  content: "\ea81";
}
.icon-cib-jsdelivr:before {
  content: "\ea82";
}
.icon-cib-jsfiddle:before {
  content: "\ea83";
}
.icon-cib-json:before {
  content: "\ea84";
}
.icon-cib-jupyter:before {
  content: "\ea85";
}
.icon-cib-justgiving:before {
  content: "\ea86";
}
.icon-cib-kaggle:before {
  content: "\ea87";
}
.icon-cib-kaios:before {
  content: "\ea88";
}
.icon-cib-kaspersky:before {
  content: "\ea89";
}
.icon-cib-kentico:before {
  content: "\ea8a";
}
.icon-cib-keras:before {
  content: "\ea8b";
}
.icon-cib-keybase:before {
  content: "\ea8c";
}
.icon-cib-keycdn:before {
  content: "\ea8d";
}
.icon-cib-khan-academy:before {
  content: "\ea8e";
}
.icon-cib-kibana:before {
  content: "\ea8f";
}
.icon-cib-kickstarter:before {
  content: "\ea90";
}
.icon-cib-kik:before {
  content: "\ea91";
}
.icon-cib-kirby:before {
  content: "\ea92";
}
.icon-cib-klout:before {
  content: "\ea93";
}
.icon-cib-known:before {
  content: "\ea94";
}
.icon-cib-ko-fi:before {
  content: "\ea95";
}
.icon-cib-kodi:before {
  content: "\ea96";
}
.icon-cib-koding:before {
  content: "\ea97";
}
.icon-cib-kotlin:before {
  content: "\ea98";
}
.icon-cib-krita:before {
  content: "\ea99";
}
.icon-cib-kubernetes:before {
  content: "\ea9a";
}
.icon-cib-lanyrd:before {
  content: "\ea9b";
}
.icon-cib-laravel-horizon:before {
  content: "\ea9c";
}
.icon-cib-laravel-nova:before {
  content: "\ea9d";
}
.icon-cib-laravel:before {
  content: "\ea9e";
}
.icon-cib-last-fm:before {
  content: "\ea9f";
}
.icon-cib-latex:before {
  content: "\eaa0";
}
.icon-cib-launchpad:before {
  content: "\eaa1";
}
.icon-cib-leetcode:before {
  content: "\eaa2";
}
.icon-cib-lenovo:before {
  content: "\eaa3";
}
.icon-cib-less:before {
  content: "\eaa4";
}
.icon-cib-lets-encrypt:before {
  content: "\eaa5";
}
.icon-cib-letterboxd:before {
  content: "\eaa6";
}
.icon-cib-lgtm:before {
  content: "\eaa7";
}
.icon-cib-liberapay:before {
  content: "\eaa8";
}
.icon-cib-librarything:before {
  content: "\eaa9";
}
.icon-cib-libreoffice:before {
  content: "\eaaa";
}
.icon-cib-line:before {
  content: "\eaab";
}
.icon-cib-linkedin-in:before {
  content: "\eaac";
}
.icon-cib-linkedin:before {
  content: "\eaad";
}
.icon-cib-linux-foundation:before {
  content: "\eaae";
}
.icon-cib-linux-mint:before {
  content: "\eaaf";
}
.icon-cib-linux:before {
  content: "\eab0";
}
.icon-cib-livejournal:before {
  content: "\eab1";
}
.icon-cib-livestream:before {
  content: "\eab2";
}
.icon-cib-logstash:before {
  content: "\eab3";
}
.icon-cib-lua:before {
  content: "\eab4";
}
.icon-cib-lumen:before {
  content: "\eab5";
}
.icon-cib-lyft:before {
  content: "\eab6";
}
.icon-cib-macys:before {
  content: "\eab7";
}
.icon-cib-magento:before {
  content: "\eab8";
}
.icon-cib-magisk:before {
  content: "\eab9";
}
.icon-cib-mail-ru:before {
  content: "\eaba";
}
.icon-cib-mailchimp:before {
  content: "\eabb";
}
.icon-cib-makerbot:before {
  content: "\eabc";
}
.icon-cib-manjaro:before {
  content: "\eabd";
}
.icon-cib-markdown:before {
  content: "\eabe";
}
.icon-cib-marketo:before {
  content: "\eabf";
}
.icon-cib-mastercard:before {
  content: "\eac0";
}
.icon-cib-mastodon:before {
  content: "\eac1";
}
.icon-cib-material-design:before {
  content: "\eac2";
}
.icon-cib-mathworks:before {
  content: "\eac3";
}
.icon-cib-matrix:before {
  content: "\eac4";
}
.icon-cib-mattermost:before {
  content: "\eac5";
}
.icon-cib-matternet:before {
  content: "\eac6";
}
.icon-cib-maxcdn:before {
  content: "\eac7";
}
.icon-cib-mcafee:before {
  content: "\eac8";
}
.icon-cib-media-temple:before {
  content: "\eac9";
}
.icon-cib-mediafire:before {
  content: "\eaca";
}
.icon-cib-medium-m:before {
  content: "\eacb";
}
.icon-cib-medium:before {
  content: "\eacc";
}
.icon-cib-meetup:before {
  content: "\eacd";
}
.icon-cib-mega:before {
  content: "\eace";
}
.icon-cib-mendeley:before {
  content: "\eacf";
}
.icon-cib-messenger:before {
  content: "\ead0";
}
.icon-cib-meteor:before {
  content: "\ead1";
}
.icon-cib-micro-blog:before {
  content: "\ead2";
}
.icon-cib-microgenetics:before {
  content: "\ead3";
}
.icon-cib-microsoft-edge:before {
  content: "\ead4";
}
.icon-cib-microsoft:before {
  content: "\ead5";
}
.icon-cib-minetest:before {
  content: "\ead6";
}
.icon-cib-minutemailer:before {
  content: "\ead7";
}
.icon-cib-mix:before {
  content: "\ead8";
}
.icon-cib-mixcloud:before {
  content: "\ead9";
}
.icon-cib-mixer:before {
  content: "\eada";
}
.icon-cib-mojang:before {
  content: "\eadb";
}
.icon-cib-monero:before {
  content: "\eadc";
}
.icon-cib-mongodb:before {
  content: "\eadd";
}
.icon-cib-monkeytie:before {
  content: "\eade";
}
.icon-cib-monogram:before {
  content: "\eadf";
}
.icon-cib-monzo:before {
  content: "\eae0";
}
.icon-cib-moo:before {
  content: "\eae1";
}
.icon-cib-mozilla-firefox:before {
  content: "\eae2";
}
.icon-cib-mozilla:before {
  content: "\eae3";
}
.icon-cib-musescore:before {
  content: "\eae4";
}
.icon-cib-mxlinux:before {
  content: "\eae5";
}
.icon-cib-myspace:before {
  content: "\eae6";
}
.icon-cib-mysql:before {
  content: "\eae7";
}
.icon-cib-nativescript:before {
  content: "\eae8";
}
.icon-cib-nec:before {
  content: "\eae9";
}
.icon-cib-neo4j:before {
  content: "\eaea";
}
.icon-cib-netflix:before {
  content: "\eaeb";
}
.icon-cib-netlify:before {
  content: "\eaec";
}
.icon-cib-next-js:before {
  content: "\eaed";
}
.icon-cib-nextcloud:before {
  content: "\eaee";
}
.icon-cib-nextdoor:before {
  content: "\eaef";
}
.icon-cib-nginx:before {
  content: "\eaf0";
}
.icon-cib-nim:before {
  content: "\eaf1";
}
.icon-cib-nintendo-3ds:before {
  content: "\eaf2";
}
.icon-cib-nintendo-gamecube:before {
  content: "\eaf3";
}
.icon-cib-nintendo-switch:before {
  content: "\eaf4";
}
