@font-face {
  font-family: 'Documents_icons';
  src:  url('fonts/Documents_icons.eot?fuydn2');
  src:  url('fonts/Documents_icons.eot?fuydn2#iefix') format('embedded-opentype'),
    url('fonts/Documents_icons.ttf?fuydn2') format('truetype'),
    url('fonts/Documents_icons.woff?fuydn2') format('woff'),
    url('fonts/Documents_icons.svg?fuydn2#Documents_icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Documents_icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-article-line:before {
  content: "\e900";
}
.icon-article-fill:before {
  content: "\e901";
}
.icon-bill-fill:before {
  content: "\e902";
}
.icon-bill-line:before {
  content: "\e903";
}
.icon-book-2-fill:before {
  content: "\e904";
}
.icon-book-2-line:before {
  content: "\e905";
}
.icon-book-3-fill:before {
  content: "\e906";
}
.icon-book-3-line:before {
  content: "\e907";
}
.icon-book-ai-fill:before {
  content: "\e908";
}
.icon-book-ai-line:before {
  content: "\e909";
}
.icon-book-fill:before {
  content: "\e90a";
}
.icon-book-line:before {
  content: "\e90b";
}
.icon-book-marked-fill:before {
  content: "\e90c";
}
.icon-book-marked-line:before {
  content: "\e90d";
}
.icon-book-open-fill:before {
  content: "\e90e";
}
.icon-book-open-line:before {
  content: "\e90f";
}
.icon-book-read-fill:before {
  content: "\e910";
}
.icon-book-read-line:before {
  content: "\e911";
}
.icon-booklet-fill:before {
  content: "\e912";
}
.icon-booklet-line:before {
  content: "\e913";
}
.icon-certificate-2-fill:before {
  content: "\e914";
}
.icon-certificate-2-line:before {
  content: "\e915";
}
.icon-certificate-fill:before {
  content: "\e916";
}
.icon-certificate-line:before {
  content: "\e917";
}
.icon-clipboard-fill:before {
  content: "\e918";
}
.icon-clipboard-line:before {
  content: "\e919";
}
.icon-contacts-book-2-fill:before {
  content: "\e91a";
}
.icon-contacts-book-2-line:before {
  content: "\e91b";
}
.icon-contacts-book-3-fill:before {
  content: "\e91c";
}
.icon-contacts-book-3-line:before {
  content: "\e91d";
}
.icon-contacts-book-fill:before {
  content: "\e91e";
}
.icon-contacts-book-line:before {
  content: "\e91f";
}
.icon-contacts-book-upload-fill:before {
  content: "\e920";
}
.icon-contacts-book-upload-line:before {
  content: "\e921";
}
.icon-contract-fill:before {
  content: "\e922";
}
.icon-contract-line:before {
  content: "\e923";
}
.icon-draft-fill:before {
  content: "\e924";
}
.icon-draft-line:before {
  content: "\e925";
}
.icon-file-2-fill:before {
  content: "\e926";
}
.icon-file-2-line:before {
  content: "\e927";
}
.icon-file-3-fill:before {
  content: "\e928";
}
.icon-file-3-line:before {
  content: "\e929";
}
.icon-file-4-fill:before {
  content: "\e92a";
}
.icon-file-4-line:before {
  content: "\e92b";
}
.icon-file-add-fill:before {
  content: "\e92c";
}
.icon-file-add-line:before {
  content: "\e92d";
}
.icon-file-ai-2-fill:before {
  content: "\e92e";
}
.icon-file-ai-2-line:before {
  content: "\e92f";
}
.icon-file-ai-fill:before {
  content: "\e930";
}
.icon-file-ai-line:before {
  content: "\e931";
}
.icon-file-chart-2-fill:before {
  content: "\e932";
}
.icon-file-chart-2-line:before {
  content: "\e933";
}
.icon-file-chart-fill:before {
  content: "\e934";
}
.icon-file-chart-line:before {
  content: "\e935";
}
.icon-file-check-fill:before {
  content: "\e936";
}
.icon-file-check-line:before {
  content: "\e937";
}
.icon-file-close-fill:before {
  content: "\e938";
}
.icon-file-close-line:before {
  content: "\e939";
}
.icon-file-cloud-fill:before {
  content: "\e93a";
}
.icon-file-cloud-line:before {
  content: "\e93b";
}
.icon-file-code-fill:before {
  content: "\e93c";
}
.icon-file-code-line:before {
  content: "\e93d";
}
.icon-file-copy-2-fill:before {
  content: "\e93e";
}
.icon-file-copy-2-line:before {
  content: "\e93f";
}
.icon-file-copy-fill:before {
  content: "\e940";
}
.icon-file-copy-line:before {
  content: "\e941";
}
.icon-file-damage-fill:before {
  content: "\e942";
}
.icon-file-damage-line:before {
  content: "\e943";
}
.icon-file-download-fill:before {
  content: "\e944";
}
.icon-file-download-line:before {
  content: "\e945";
}
.icon-file-edit-fill:before {
  content: "\e946";
}
.icon-file-edit-line:before {
  content: "\e947";
}
.icon-file-excel-2-fill:before {
  content: "\e948";
}
.icon-file-excel-2-line:before {
  content: "\e949";
}
.icon-file-excel-fill:before {
  content: "\e94a";
}
.icon-file-excel-line:before {
  content: "\e94b";
}
.icon-file-fill:before {
  content: "\e94c";
}
.icon-file-forbid-fill:before {
  content: "\e94d";
}
.icon-file-forbid-line:before {
  content: "\e94e";
}
.icon-file-gif-fill:before {
  content: "\e94f";
}
.icon-file-gif-line:before {
  content: "\e950";
}
.icon-file-history-fill:before {
  content: "\e951";
}
.icon-file-history-line:before {
  content: "\e952";
}
.icon-file-hwp-fill:before {
  content: "\e953";
}
.icon-file-hwp-line:before {
  content: "\e954";
}
.icon-file-image-fill:before {
  content: "\e955";
}
.icon-file-image-line:before {
  content: "\e956";
}
.icon-file-info-fill:before {
  content: "\e957";
}
.icon-file-info-line:before {
  content: "\e958";
}
.icon-file-line:before {
  content: "\e959";
}
.icon-file-list-2-fill:before {
  content: "\e95a";
}
.icon-file-list-2-line:before {
  content: "\e95b";
}
.icon-file-list-3-fill:before {
  content: "\e95c";
}
.icon-file-list-3-line:before {
  content: "\e95d";
}
.icon-file-list-fill:before {
  content: "\e95e";
}
.icon-file-list-line:before {
  content: "\e95f";
}
.icon-file-lock-fill:before {
  content: "\e960";
}
.icon-file-lock-line:before {
  content: "\e961";
}
.icon-file-marked-fill:before {
  content: "\e962";
}
.icon-file-marked-line:before {
  content: "\e963";
}
.icon-file-music-fill:before {
  content: "\e964";
}
.icon-file-music-line:before {
  content: "\e965";
}
.icon-file-paper-2-fill:before {
  content: "\e966";
}
.icon-file-paper-2-line:before {
  content: "\e967";
}
.icon-file-paper-fill:before {
  content: "\e968";
}
.icon-file-paper-line:before {
  content: "\e969";
}
.icon-file-pdf-2-fill:before {
  content: "\e96a";
}
.icon-file-pdf-2-line:before {
  content: "\e96b";
}
.icon-file-pdf-fill:before {
  content: "\e96c";
}
.icon-file-pdf-line:before {
  content: "\e96d";
}
.icon-file-ppt-2-fill:before {
  content: "\e96e";
}
.icon-file-ppt-2-line:before {
  content: "\e96f";
}
.icon-file-ppt-fill:before {
  content: "\e970";
}
.icon-file-ppt-line:before {
  content: "\e971";
}
.icon-file-reduce-fill:before {
  content: "\e972";
}
.icon-file-reduce-line:before {
  content: "\e973";
}
.icon-file-scan-fill:before {
  content: "\e974";
}
.icon-file-scan-line:before {
  content: "\e975";
}
.icon-file-search-fill:before {
  content: "\e976";
}
.icon-file-search-line:before {
  content: "\e977";
}
.icon-file-settings-fill:before {
  content: "\e978";
}
.icon-file-settings-line:before {
  content: "\e979";
}
.icon-file-shield-2-fill:before {
  content: "\e97a";
}
.icon-file-shield-2-line:before {
  content: "\e97b";
}
.icon-file-shield-fill:before {
  content: "\e97c";
}
.icon-file-shield-line:before {
  content: "\e97d";
}
.icon-file-shred-fill:before {
  content: "\e97e";
}
.icon-file-shred-line:before {
  content: "\e97f";
}
.icon-file-text-fill:before {
  content: "\e980";
}
.icon-file-text-line:before {
  content: "\e981";
}
.icon-file-transfer-fill:before {
  content: "\e982";
}
.icon-file-transfer-line:before {
  content: "\e983";
}
.icon-file-unknow-fill:before {
  content: "\e984";
}
.icon-file-unknow-line:before {
  content: "\e985";
}
.icon-file-upload-fill:before {
  content: "\e986";
}
.icon-file-upload-line:before {
  content: "\e987";
}
.icon-file-user-fill:before {
  content: "\e988";
}
.icon-file-user-line:before {
  content: "\e989";
}
.icon-file-video-fill:before {
  content: "\e98a";
}
.icon-file-video-line:before {
  content: "\e98b";
}
.icon-file-warning-fill:before {
  content: "\e98c";
}
.icon-file-warning-line:before {
  content: "\e98d";
}
.icon-file-word-2-fill:before {
  content: "\e98e";
}
.icon-file-word-2-line:before {
  content: "\e98f";
}
.icon-file-word-fill:before {
  content: "\e990";
}
.icon-file-word-line:before {
  content: "\e991";
}
.icon-file-zip-fill:before {
  content: "\e992";
}
.icon-file-zip-line:before {
  content: "\e993";
}
.icon-folder-2-fill:before {
  content: "\e994";
}
.icon-folder-2-line:before {
  content: "\e995";
}
.icon-folder-3-fill:before {
  content: "\e996";
}
.icon-folder-3-line:before {
  content: "\e997";
}
.icon-folder-4-fill:before {
  content: "\e998";
}
.icon-folder-4-line:before {
  content: "\e999";
}
.icon-folder-5-fill:before {
  content: "\e99a";
}
.icon-folder-5-line:before {
  content: "\e99b";
}
.icon-folder-6-fill:before {
  content: "\e99c";
}
.icon-folder-6-line:before {
  content: "\e99d";
}
.icon-folder-add-fill:before {
  content: "\e99e";
}
.icon-folder-add-line:before {
  content: "\e99f";
}
.icon-folder-chart-2-fill:before {
  content: "\e9a0";
}
.icon-folder-chart-2-line:before {
  content: "\e9a1";
}
.icon-folder-chart-fill:before {
  content: "\e9a2";
}
.icon-folder-chart-line:before {
  content: "\e9a3";
}
.icon-folder-check-fill:before {
  content: "\e9a4";
}
.icon-folder-check-line:before {
  content: "\e9a5";
}
.icon-folder-close-fill:before {
  content: "\e9a6";
}
.icon-folder-close-line:before {
  content: "\e9a7";
}
.icon-folder-cloud-fill:before {
  content: "\e9a8";
}
.icon-folder-cloud-line:before {
  content: "\e9a9";
}
.icon-folder-download-fill:before {
  content: "\e9aa";
}
.icon-folder-download-line:before {
  content: "\e9ab";
}
.icon-folder-fill:before {
  content: "\e9ac";
}
.icon-folder-forbid-fill:before {
  content: "\e9ad";
}
.icon-folder-forbid-line:before {
  content: "\e9ae";
}
.icon-folder-history-fill:before {
  content: "\e9af";
}
.icon-folder-history-line:before {
  content: "\e9b0";
}
.icon-folder-image-fill:before {
  content: "\e9b1";
}
.icon-folder-image-line:before {
  content: "\e9b2";
}
.icon-folder-info-fill:before {
  content: "\e9b3";
}
.icon-folder-info-line:before {
  content: "\e9b4";
}
.icon-folder-keyhole-fill:before {
  content: "\e9b5";
}
.icon-folder-keyhole-line:before {
  content: "\e9b6";
}
.icon-folder-line:before {
  content: "\e9b7";
}
.icon-folder-lock-fill:before {
  content: "\e9b8";
}
.icon-folder-lock-line:before {
  content: "\e9b9";
}
.icon-folder-music-fill:before {
  content: "\e9ba";
}
.icon-folder-music-line:before {
  content: "\e9bb";
}
.icon-folder-open-fill:before {
  content: "\e9bc";
}
.icon-folder-open-line:before {
  content: "\e9bd";
}
.icon-folder-received-fill:before {
  content: "\e9be";
}
.icon-folder-received-line:before {
  content: "\e9bf";
}
.icon-folder-reduce-fill:before {
  content: "\e9c0";
}
.icon-folder-reduce-line:before {
  content: "\e9c1";
}
.icon-folder-settings-fill:before {
  content: "\e9c2";
}
.icon-folder-settings-line:before {
  content: "\e9c3";
}
.icon-folder-shared-fill:before {
  content: "\e9c4";
}
.icon-folder-shared-line:before {
  content: "\e9c5";
}
.icon-folder-shield-2-fill:before {
  content: "\e9c6";
}
.icon-folder-shield-2-line:before {
  content: "\e9c7";
}
.icon-folder-shield-fill:before {
  content: "\e9c8";
}
.icon-folder-shield-line:before {
  content: "\e9c9";
}
.icon-folder-transfer-fill:before {
  content: "\e9ca";
}
.icon-folder-transfer-line:before {
  content: "\e9cb";
}
.icon-folder-unknow-fill:before {
  content: "\e9cc";
}
.icon-folder-unknow-line:before {
  content: "\e9cd";
}
.icon-folder-upload-fill:before {
  content: "\e9ce";
}
.icon-folder-upload-line:before {
  content: "\e9cf";
}
.icon-folder-user-fill:before {
  content: "\e9d0";
}
.icon-folder-user-line:before {
  content: "\e9d1";
}
.icon-folder-video-fill:before {
  content: "\e9d2";
}
.icon-folder-video-line:before {
  content: "\e9d3";
}
.icon-folder-warning-fill:before {
  content: "\e9d4";
}
.icon-folder-warning-line:before {
  content: "\e9d5";
}
.icon-folder-zip-fill:before {
  content: "\e9d6";
}
.icon-folder-zip-line:before {
  content: "\e9d7";
}
.icon-folders-fill:before {
  content: "\e9d8";
}
.icon-folders-line:before {
  content: "\e9d9";
}
.icon-keynote-fill:before {
  content: "\e9da";
}
.icon-keynote-line:before {
  content: "\e9db";
}
.icon-markdown-fill:before {
  content: "\e9dc";
}
.icon-markdown-line:before {
  content: "\e9dd";
}
.icon-news-fill:before {
  content: "\e9de";
}
.icon-news-line:before {
  content: "\e9df";
}
.icon-newspaper-fill:before {
  content: "\e9e0";
}
.icon-newspaper-line:before {
  content: "\e9e1";
}
.icon-numbers-fill:before {
  content: "\e9e2";
}
.icon-numbers-line:before {
  content: "\e9e3";
}
.icon-pages-fill:before {
  content: "\e9e4";
}
.icon-pages-line:before {
  content: "\e9e5";
}
.icon-receipt-fill:before {
  content: "\e9e6";
}
.icon-receipt-line:before {
  content: "\e9e7";
}
.icon-sticky-note-2-fill:before {
  content: "\e9e8";
}
.icon-sticky-note-2-line:before {
  content: "\e9e9";
}
.icon-sticky-note-add-fill:before {
  content: "\e9ea";
}
.icon-sticky-note-add-line:before {
  content: "\e9eb";
}
.icon-sticky-note-fill:before {
  content: "\e9ec";
}
.icon-sticky-note-line:before {
  content: "\e9ed";
}
.icon-survey-fill:before {
  content: "\e9ee";
}
.icon-survey-line:before {
  content: "\e9ef";
}
.icon-task-fill:before {
  content: "\e9f0";
}
.icon-task-line:before {
  content: "\e9f1";
}
.icon-todo-fill:before {
  content: "\e9f2";
}
.icon-todo-line:before {
  content: "\e9f3";
}
