@font-face {
  font-family: 'Media_icons';
  src:  url('fonts/Media_icons.eot?gklg8x');
  src:  url('fonts/Media_icons.eot?gklg8x#iefix') format('embedded-opentype'),
    url('fonts/Media_icons.ttf?gklg8x') format('truetype'),
    url('fonts/Media_icons.woff?gklg8x') format('woff'),
    url('fonts/Media_icons.svg?gklg8x#Media_icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Media_icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-k-line:before {
  content: "\e900";
}
.icon-k-fill:before {
  content: "\e901";
}
.icon-album-fill:before {
  content: "\e902";
}
.icon-album-line:before {
  content: "\e903";
}
.icon-aspect-ratio-fill:before {
  content: "\e904";
}
.icon-aspect-ratio-line:before {
  content: "\e905";
}
.icon-broadcast-fill:before {
  content: "\e906";
}
.icon-broadcast-line:before {
  content: "\e907";
}
.icon-camera-2-fill:before {
  content: "\e908";
}
.icon-camera-2-line:before {
  content: "\e909";
}
.icon-camera-3-fill:before {
  content: "\e90a";
}
.icon-camera-3-line:before {
  content: "\e90b";
}
.icon-camera-4-fill:before {
  content: "\e90c";
}
.icon-camera-4-line:before {
  content: "\e90d";
}
.icon-camera-ai-2-fill:before {
  content: "\e90e";
}
.icon-camera-ai-2-line:before {
  content: "\e90f";
}
.icon-camera-ai-fill:before {
  content: "\e910";
}
.icon-camera-ai-line:before {
  content: "\e911";
}
.icon-camera-fill:before {
  content: "\e912";
}
.icon-camera-lens-ai-fill:before {
  content: "\e913";
}
.icon-camera-lens-ai-line:before {
  content: "\e914";
}
.icon-camera-lens-fill:before {
  content: "\e915";
}
.icon-camera-lens-line:before {
  content: "\e916";
}
.icon-camera-line:before {
  content: "\e917";
}
.icon-camera-off-fill:before {
  content: "\e918";
}
.icon-camera-off-line:before {
  content: "\e919";
}
.icon-camera-switch-fill:before {
  content: "\e91a";
}
.icon-camera-switch-line:before {
  content: "\e91b";
}
.icon-clapperboard-ai-fill:before {
  content: "\e91c";
}
.icon-clapperboard-ai-line:before {
  content: "\e91d";
}
.icon-clapperboard-fill:before {
  content: "\e91e";
}
.icon-clapperboard-line:before {
  content: "\e91f";
}
.icon-closed-captioning-ai-fill:before {
  content: "\e920";
}
.icon-closed-captioning-ai-line:before {
  content: "\e921";
}
.icon-closed-captioning-fill:before {
  content: "\e922";
}
.icon-closed-captioning-line:before {
  content: "\e923";
}
.icon-disc-fill:before {
  content: "\e924";
}
.icon-disc-line:before {
  content: "\e925";
}
.icon-dv-fill:before {
  content: "\e926";
}
.icon-dv-line:before {
  content: "\e927";
}
.icon-dvd-ai-fill:before {
  content: "\e928";
}
.icon-dvd-ai-line:before {
  content: "\e929";
}
.icon-dvd-fill:before {
  content: "\e92a";
}
.icon-dvd-line:before {
  content: "\e92b";
}
.icon-eject-fill:before {
  content: "\e92c";
}
.icon-eject-line:before {
  content: "\e92d";
}
.icon-equalizer-2-fill:before {
  content: "\e92e";
}
.icon-equalizer-2-line:before {
  content: "\e92f";
}
.icon-equalizer-3-fill:before {
  content: "\e930";
}
.icon-equalizer-3-line:before {
  content: "\e931";
}
.icon-equalizer-fill:before {
  content: "\e932";
}
.icon-equalizer-line:before {
  content: "\e933";
}
.icon-film-ai-fill:before {
  content: "\e934";
}
.icon-film-ai-line:before {
  content: "\e935";
}
.icon-film-fill:before {
  content: "\e936";
}
.icon-film-line:before {
  content: "\e937";
}
.icon-forward-10-fill:before {
  content: "\e938";
}
.icon-forward-10-line:before {
  content: "\e939";
}
.icon-forward-15-fill:before {
  content: "\e93a";
}
.icon-forward-15-line:before {
  content: "\e93b";
}
.icon-forward-30-fill:before {
  content: "\e93c";
}
.icon-forward-30-line:before {
  content: "\e93d";
}
.icon-forward-5-fill:before {
  content: "\e93e";
}
.icon-forward-5-line:before {
  content: "\e93f";
}
.icon-forward-end-fill:before {
  content: "\e940";
}
.icon-forward-end-line:before {
  content: "\e941";
}
.icon-forward-end-mini-fill:before {
  content: "\e942";
}
.icon-forward-end-mini-line:before {
  content: "\e943";
}
.icon-fullscreen-exit-fill:before {
  content: "\e944";
}
.icon-fullscreen-exit-line:before {
  content: "\e945";
}
.icon-fullscreen-fill:before {
  content: "\e946";
}
.icon-fullscreen-line:before {
  content: "\e947";
}
.icon-gallery-fill:before {
  content: "\e948";
}
.icon-gallery-line:before {
  content: "\e949";
}
.icon-gallery-upload-fill:before {
  content: "\e94a";
}
.icon-gallery-upload-line:before {
  content: "\e94b";
}
.icon-hd-fill:before {
  content: "\e94c";
}
.icon-hd-line:before {
  content: "\e94d";
}
.icon-headphone-fill:before {
  content: "\e94e";
}
.icon-headphone-line:before {
  content: "\e94f";
}
.icon-hq-fill:before {
  content: "\e950";
}
.icon-hq-line:before {
  content: "\e951";
}
.icon-image-2-fill:before {
  content: "\e952";
}
.icon-image-2-line:before {
  content: "\e953";
}
.icon-image-add-fill:before {
  content: "\e954";
}
.icon-image-add-line:before {
  content: "\e955";
}
.icon-image-ai-fill:before {
  content: "\e956";
}
.icon-image-ai-line:before {
  content: "\e957";
}
.icon-image-circle-ai-fill:before {
  content: "\e958";
}
.icon-image-circle-ai-line:before {
  content: "\e959";
}
.icon-image-circle-fill:before {
  content: "\e95a";
}
.icon-image-circle-line:before {
  content: "\e95b";
}
.icon-image-download-fill:before {
  content: "\e95c";
}
.icon-image-download-line:before {
  content: "\e95d";
}
.icon-image-edit-fill:before {
  content: "\e95e";
}
.icon-image-edit-line:before {
  content: "\e95f";
}
.icon-image-fill:before {
  content: "\e960";
}
.icon-image-line:before {
  content: "\e961";
}
.icon-image-upload-fill:before {
  content: "\e962";
}
.icon-image-upload-line:before {
  content: "\e963";
}
.icon-landscape-ai-fill:before {
  content: "\e964";
}
.icon-landscape-ai-line:before {
  content: "\e965";
}
.icon-landscape-fill:before {
  content: "\e966";
}
.icon-landscape-line:before {
  content: "\e967";
}
.icon-live-fill:before {
  content: "\e968";
}
.icon-live-line:before {
  content: "\e969";
}
.icon-memories-fill:before {
  content: "\e96a";
}
.icon-memories-line:before {
  content: "\e96b";
}
.icon-mic-2-ai-fill:before {
  content: "\e96c";
}
.icon-mic-2-ai-line:before {
  content: "\e96d";
}
.icon-mic-2-fill:before {
  content: "\e96e";
}
.icon-mic-2-line:before {
  content: "\e96f";
}
.icon-mic-ai-fill:before {
  content: "\e970";
}
.icon-mic-ai-line:before {
  content: "\e971";
}
.icon-mic-fill:before {
  content: "\e972";
}
.icon-mic-line:before {
  content: "\e973";
}
.icon-mic-off-fill:before {
  content: "\e974";
}
.icon-mic-off-line:before {
  content: "\e975";
}
.icon-movie-2-ai-fill:before {
  content: "\e976";
}
.icon-movie-2-ai-line:before {
  content: "\e977";
}
.icon-movie-2-fill:before {
  content: "\e978";
}
.icon-movie-2-line:before {
  content: "\e979";
}
.icon-movie-ai-fill:before {
  content: "\e97a";
}
.icon-movie-ai-line:before {
  content: "\e97b";
}
.icon-movie-fill:before {
  content: "\e97c";
}
.icon-movie-line:before {
  content: "\e97d";
}
.icon-multi-image-fill:before {
  content: "\e97e";
}
.icon-multi-image-line:before {
  content: "\e97f";
}
.icon-music-2-fill:before {
  content: "\e980";
}
.icon-music-2-line:before {
  content: "\e981";
}
.icon-music-ai-fill:before {
  content: "\e982";
}
.icon-music-ai-line:before {
  content: "\e983";
}
.icon-music-fill:before {
  content: "\e984";
}
.icon-music-line:before {
  content: "\e985";
}
.icon-mv-ai-fill:before {
  content: "\e986";
}
.icon-mv-ai-line:before {
  content: "\e987";
}
.icon-mv-fill:before {
  content: "\e988";
}
.icon-mv-line:before {
  content: "\e989";
}
.icon-notification-2-fill:before {
  content: "\e98a";
}
.icon-notification-2-line:before {
  content: "\e98b";
}
.icon-notification-3-fill:before {
  content: "\e98c";
}
.icon-notification-3-line:before {
  content: "\e98d";
}
.icon-notification-4-fill:before {
  content: "\e98e";
}
.icon-notification-4-line:before {
  content: "\e98f";
}
.icon-notification-fill:before {
  content: "\e990";
}
.icon-notification-line:before {
  content: "\e991";
}
.icon-notification-off-fill:before {
  content: "\e992";
}
.icon-notification-off-line:before {
  content: "\e993";
}
.icon-notification-snooze-fill:before {
  content: "\e994";
}
.icon-notification-snooze-line:before {
  content: "\e995";
}
.icon-order-play-fill:before {
  content: "\e996";
}
.icon-order-play-line:before {
  content: "\e997";
}
.icon-pause-circle-fill:before {
  content: "\e998";
}
.icon-pause-circle-line:before {
  content: "\e999";
}
.icon-pause-fill:before {
  content: "\e99a";
}
.icon-pause-large-fill:before {
  content: "\e99b";
}
.icon-pause-large-line:before {
  content: "\e99c";
}
.icon-pause-line:before {
  content: "\e99d";
}
.icon-pause-mini-fill:before {
  content: "\e99e";
}
.icon-pause-mini-line:before {
  content: "\e99f";
}
.icon-phone-camera-fill:before {
  content: "\e9a0";
}
.icon-phone-camera-line:before {
  content: "\e9a1";
}
.icon-picture-in-picture-2-fill:before {
  content: "\e9a2";
}
.icon-picture-in-picture-2-line:before {
  content: "\e9a3";
}
.icon-picture-in-picture-exit-fill:before {
  content: "\e9a4";
}
.icon-picture-in-picture-exit-line:before {
  content: "\e9a5";
}
.icon-picture-in-picture-fill:before {
  content: "\e9a6";
}
.icon-picture-in-picture-line:before {
  content: "\e9a7";
}
.icon-play-circle-fill:before {
  content: "\e9a8";
}
.icon-play-circle-line:before {
  content: "\e9a9";
}
.icon-play-fill:before {
  content: "\e9aa";
}
.icon-play-large-fill:before {
  content: "\e9ab";
}
.icon-play-large-line:before {
  content: "\e9ac";
}
.icon-play-line:before {
  content: "\e9ad";
}
.icon-play-list-2-fill:before {
  content: "\e9ae";
}
.icon-play-list-2-line:before {
  content: "\e9af";
}
.icon-play-list-add-fill:before {
  content: "\e9b0";
}
.icon-play-list-add-line:before {
  content: "\e9b1";
}
.icon-play-list-fill:before {
  content: "\e9b2";
}
.icon-play-list-line:before {
  content: "\e9b3";
}
.icon-play-mini-fill:before {
  content: "\e9b4";
}
.icon-play-mini-line:before {
  content: "\e9b5";
}
.icon-play-reverse-fill:before {
  content: "\e9b6";
}
.icon-play-reverse-large-fill:before {
  content: "\e9b7";
}
.icon-play-reverse-large-line:before {
  content: "\e9b8";
}
.icon-play-reverse-line:before {
  content: "\e9b9";
}
.icon-play-reverse-mini-fill:before {
  content: "\e9ba";
}
.icon-play-reverse-mini-line:before {
  content: "\e9bb";
}
.icon-polaroid-2-fill:before {
  content: "\e9bc";
}
.icon-polaroid-2-line:before {
  content: "\e9bd";
}
.icon-polaroid-fill:before {
  content: "\e9be";
}
.icon-polaroid-line:before {
  content: "\e9bf";
}
.icon-radio-2-fill:before {
  content: "\e9c0";
}
.icon-radio-2-line:before {
  content: "\e9c1";
}
.icon-radio-fill:before {
  content: "\e9c2";
}
.icon-radio-line:before {
  content: "\e9c3";
}
.icon-record-circle-fill:before {
  content: "\e9c4";
}
.icon-record-circle-line:before {
  content: "\e9c5";
}
.icon-repeat-2-fill:before {
  content: "\e9c6";
}
.icon-repeat-2-line:before {
  content: "\e9c7";
}
.icon-repeat-fill:before {
  content: "\e9c8";
}
.icon-repeat-line:before {
  content: "\e9c9";
}
.icon-repeat-one-fill:before {
  content: "\e9ca";
}
.icon-repeat-one-line:before {
  content: "\e9cb";
}
.icon-replay-10-fill:before {
  content: "\e9cc";
}
.icon-replay-10-line:before {
  content: "\e9cd";
}
.icon-replay-15-fill:before {
  content: "\e9ce";
}
.icon-replay-15-line:before {
  content: "\e9cf";
}
.icon-replay-30-fill:before {
  content: "\e9d0";
}
.icon-replay-30-line:before {
  content: "\e9d1";
}
.icon-replay-5-fill:before {
  content: "\e9d2";
}
.icon-replay-5-line:before {
  content: "\e9d3";
}
.icon-rewind-fill:before {
  content: "\e9d4";
}
.icon-rewind-line:before {
  content: "\e9d5";
}
.icon-rewind-mini-fill:before {
  content: "\e9d6";
}
.icon-rewind-mini-line:before {
  content: "\e9d7";
}
.icon-rewind-start-fill:before {
  content: "\e9d8";
}
.icon-rewind-start-line:before {
  content: "\e9d9";
}
.icon-rewind-start-mini-fill:before {
  content: "\e9da";
}
.icon-rewind-start-mini-line:before {
  content: "\e9db";
}
.icon-rhythm-fill:before {
  content: "\e9dc";
}
.icon-rhythm-line:before {
  content: "\e9dd";
}
.icon-shuffle-fill:before {
  content: "\e9de";
}
.icon-shuffle-line:before {
  content: "\e9df";
}
.icon-skip-back-fill:before {
  content: "\e9e0";
}
.icon-skip-back-line:before {
  content: "\e9e1";
}
.icon-skip-back-mini-fill:before {
  content: "\e9e2";
}
.icon-skip-back-mini-line:before {
  content: "\e9e3";
}
.icon-skip-forward-fill:before {
  content: "\e9e4";
}
.icon-skip-forward-line:before {
  content: "\e9e5";
}
.icon-skip-forward-mini-fill:before {
  content: "\e9e6";
}
.icon-skip-forward-mini-line:before {
  content: "\e9e7";
}
.icon-slow-down-fill:before {
  content: "\e9e8";
}
.icon-slow-down-line:before {
  content: "\e9e9";
}
.icon-sound-module-fill:before {
  content: "\e9ea";
}
.icon-sound-module-line:before {
  content: "\e9eb";
}
.icon-speaker-2-fill:before {
  content: "\e9ec";
}
.icon-speaker-2-line:before {
  content: "\e9ed";
}
.icon-speaker-3-fill:before {
  content: "\e9ee";
}
.icon-speaker-3-line:before {
  content: "\e9ef";
}
.icon-speaker-fill:before {
  content: "\e9f0";
}
.icon-speaker-line:before {
  content: "\e9f1";
}
.icon-speed-fill:before {
  content: "\e9f2";
}
.icon-speed-line:before {
  content: "\e9f3";
}
.icon-speed-mini-fill:before {
  content: "\e9f4";
}
.icon-speed-mini-line:before {
  content: "\e9f5";
}
.icon-speed-up-fill:before {
  content: "\e9f6";
}
.icon-speed-up-line:before {
  content: "\e9f7";
}
.icon-stop-circle-fill:before {
  content: "\e9f8";
}
.icon-stop-circle-line:before {
  content: "\e9f9";
}
.icon-stop-fill:before {
  content: "\e9fa";
}
.icon-stop-large-fill:before {
  content: "\e9fb";
}
.icon-stop-large-line:before {
  content: "\e9fc";
}
.icon-stop-line:before {
  content: "\e9fd";
}
.icon-stop-mini-fill:before {
  content: "\e9fe";
}
.icon-stop-mini-line:before {
  content: "\e9ff";
}
.icon-surround-sound-fill:before {
  content: "\ea00";
}
.icon-surround-sound-line:before {
  content: "\ea01";
}
.icon-tape-fill:before {
  content: "\ea02";
}
.icon-tape-line:before {
  content: "\ea03";
}
.icon-video-add-fill:before {
  content: "\ea04";
}
.icon-video-add-line:before {
  content: "\ea05";
}
.icon-video-ai-fill:before {
  content: "\ea06";
}
.icon-video-ai-line:before {
  content: "\ea07";
}
.icon-video-download-fill:before {
  content: "\ea08";
}
.icon-video-download-line:before {
  content: "\ea09";
}
.icon-video-fill:before {
  content: "\ea0a";
}
.icon-video-line:before {
  content: "\ea0b";
}
.icon-video-off-fill:before {
  content: "\ea0c";
}
.icon-video-off-line:before {
  content: "\ea0d";
}
.icon-video-on-ai-fill:before {
  content: "\ea0e";
}
.icon-video-on-ai-line:before {
  content: "\ea0f";
}
.icon-video-on-fill:before {
  content: "\ea10";
}
.icon-video-on-line:before {
  content: "\ea11";
}
.icon-video-upload-fill:before {
  content: "\ea12";
}
.icon-video-upload-line:before {
  content: "\ea13";
}
.icon-vidicon-2-fill:before {
  content: "\ea14";
}
.icon-vidicon-2-line:before {
  content: "\ea15";
}
.icon-vidicon-fill:before {
  content: "\ea16";
}
.icon-vidicon-line:before {
  content: "\ea17";
}
.icon-voice-ai-fill:before {
  content: "\ea18";
}
.icon-voice-ai-line:before {
  content: "\ea19";
}
.icon-voiceprint-fill:before {
  content: "\ea1a";
}
.icon-voiceprint-line:before {
  content: "\ea1b";
}
.icon-volume-down-fill:before {
  content: "\ea1c";
}
.icon-volume-down-line:before {
  content: "\ea1d";
}
.icon-volume-mute-fill:before {
  content: "\ea1e";
}
.icon-volume-mute-line:before {
  content: "\ea1f";
}
.icon-volume-off-vibrate-fill:before {
  content: "\ea20";
}
.icon-volume-off-vibrate-line:before {
  content: "\ea21";
}
.icon-volume-up-fill:before {
  content: "\ea22";
}
.icon-volume-up-line:before {
  content: "\ea23";
}
.icon-volume-vibrate-fill:before {
  content: "\ea24";
}
.icon-volume-vibrate-line:before {
  content: "\ea25";
}
.icon-webcam-fill:before {
  content: "\ea26";
}
.icon-webcam-line:before {
  content: "\ea27";
}
